<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>アカウントページ</title>
    </head>
    <body>
        <h1>アカウント情報</h1>
        <table>
            <tr>
                <th>ID</th>
                <td th:text="${id}"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="${address}"></td>
            </tr>
            <tr>
                <th>Age</th>
                <td th:text="${age}"></td>
            </tr>
            <tr>
                <th>name</th>
                <td th:text="${name}"></td>
            </tr>
        </table>
    </body>
</html>